* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}

.c-cielo {
  color: #0d6efd;
}

.bg-cielo {
  background-color: #0d6efd;
}

.btn-cielo {
  background-color: #0d6efd;
}

.c-morado {
  color: #6f42c1;
}

.bg-morado {
  background-color: #6f42c1;
}

.btn-morado {
  background-color: #6f42c1;
}

.c-rosa {
  color: #d63384;
}

.bg-rosa {
  background-color: #d63384;
}

.btn-rosa {
  background-color: #d63384;
}

.c-rojo {
  color: #dc3545;
}

.bg-rojo {
  background-color: #dc3545;
}

.btn-rojo {
  background-color: #dc3545;
}

.c-naranja {
  color: #fd7e14;
}

.bg-naranja {
  background-color: #fd7e14;
}

.btn-naranja {
  background-color: #fd7e14;
}

.c-amarillo {
  color: #ffc107;
}

.bg-amarillo {
  background-color: #ffc107;
}

.btn-amarillo {
  background-color: #ffc107;
}

.c-verde {
  color: #198754;
}

.bg-verde {
  background-color: #198754;
}

.btn-verde {
  background-color: #198754;
}

.c-azul {
  color: #00a3ff;
}

.bg-azul {
  background-color: #00a3ff;
}

.btn-azul {
  background-color: #00a3ff;
}

.c-blanco {
  color: #fff;
}

.bg-blanco {
  background-color: #fff;
}

.btn-blanco {
  background-color: #fff;
}

.c-gris {
  color: #85888a;
}

.bg-gris {
  background-color: #85888a;
}

.btn-gris {
  background-color: #85888a;
}

.c-negro {
  color: #000;
}

.bg-negro {
  background-color: #000;
}

.btn-negro {
  background-color: #000;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-justify {
  text-align: justify;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.dflex-column {
  flex-direction: column;
}

.dflex-row {
  flex-direction: row;
}

.d-flex {
  display: flex;
}

@media (min-width: 576px) {
  .justify-content-center-ch {
    justify-content: center;
  }
  .justify-content-start-ch {
    justify-content: start;
  }
  .justify-content-end-ch {
    justify-content: end;
  }
  .justify-content-space-between-ch {
    justify-content: space-between;
  }
  .justify-content-space-around-ch {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ch {
    justify-content: space-evenly;
  }
  .align-items-center-ch {
    align-items: center;
  }
  .align-items-flex-end-ch {
    align-items: flex-end;
  }
  .align-items-flex-start-ch {
    align-items: flex-start;
  }
  .dflex-column-ch {
    flex-direction: column;
  }
  .dflex-row-ch {
    flex-direction: row;
  }
  .d-flex-ch {
    display: flex;
  }
}
@media (min-width: 768px) {
  .justify-content-center-m {
    justify-content: center;
  }
  .justify-content-start-m {
    justify-content: start;
  }
  .justify-content-end-m {
    justify-content: end;
  }
  .justify-content-space-between-m {
    justify-content: space-between;
  }
  .justify-content-space-around-m {
    justify-content: space-around;
  }
  .justify-content-space-evenly-m {
    justify-content: space-evenly;
  }
  .align-items-center-m {
    align-items: center;
  }
  .align-items-flex-end-m {
    align-items: flex-end;
  }
  .align-items-flex-start-m {
    align-items: flex-start;
  }
  .dflex-column-m {
    flex-direction: column;
  }
  .dflex-row-m {
    flex-direction: row;
  }
  .d-flex-m {
    display: flex;
  }
}
@media (min-width: 992px) {
  .justify-content-center-gr {
    justify-content: center;
  }
  .justify-content-start-gr {
    justify-content: start;
  }
  .justify-content-end-gr {
    justify-content: end;
  }
  .justify-content-space-between-gr {
    justify-content: space-between;
  }
  .justify-content-space-around-gr {
    justify-content: space-around;
  }
  .justify-content-space-evenly-gr {
    justify-content: space-evenly;
  }
  .align-items-center-gr {
    align-items: center;
  }
  .align-items-flex-end-gr {
    align-items: flex-end;
  }
  .align-items-flex-start-gr {
    align-items: flex-start;
  }
  .dflex-column-gr {
    flex-direction: column;
  }
  .dflex-row-gr {
    flex-direction: row;
  }
  .d-flex-gr {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .justify-content-center-ex {
    justify-content: center;
  }
  .justify-content-start-ex {
    justify-content: start;
  }
  .justify-content-end-ex {
    justify-content: end;
  }
  .justify-content-space-between-ex {
    justify-content: space-between;
  }
  .justify-content-space-around-ex {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ex {
    justify-content: space-evenly;
  }
  .align-items-center-ex {
    align-items: center;
  }
  .align-items-flex-end-ex {
    align-items: flex-end;
  }
  .align-items-flex-start-ex {
    align-items: flex-start;
  }
  .dflex-column-ex {
    flex-direction: column;
  }
  .dflex-row-ex {
    flex-direction: row;
  }
  .d-flex-ex {
    display: flex;
  }
}
.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.dflex-column {
  flex-direction: column;
}

.dflex-row {
  flex-direction: row;
}

.d-grid {
  display: grid;
}

@media (min-width: 576px) {
  .justify-content-center-ch {
    justify-content: center;
  }
  .justify-content-start-ch {
    justify-content: start;
  }
  .justify-content-end-ch {
    justify-content: end;
  }
  .justify-content-space-between-ch {
    justify-content: space-between;
  }
  .justify-content-space-around-ch {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ch {
    justify-content: space-evenly;
  }
  .align-items-center-ch {
    align-items: center;
  }
  .align-items-flex-end-ch {
    align-items: flex-end;
  }
  .align-items-flex-start-ch {
    align-items: flex-start;
  }
  .dflex-column-ch {
    flex-direction: column;
  }
  .dflex-row-ch {
    flex-direction: row;
  }
  .d-grid-ch {
    display: grid;
  }
}
@media (min-width: 768px) {
  .justify-content-center-m {
    justify-content: center;
  }
  .justify-content-start-m {
    justify-content: start;
  }
  .justify-content-end-m {
    justify-content: end;
  }
  .justify-content-space-between-m {
    justify-content: space-between;
  }
  .justify-content-space-around-m {
    justify-content: space-around;
  }
  .justify-content-space-evenly-m {
    justify-content: space-evenly;
  }
  .align-items-center-m {
    align-items: center;
  }
  .align-items-flex-end-m {
    align-items: flex-end;
  }
  .align-items-flex-start-m {
    align-items: flex-start;
  }
  .dflex-column-m {
    flex-direction: column;
  }
  .dflex-row-m {
    flex-direction: row;
  }
  .d-grid-m {
    display: grid;
  }
}
@media (min-width: 992px) {
  .justify-content-center-gr {
    justify-content: center;
  }
  .justify-content-start-gr {
    justify-content: start;
  }
  .justify-content-end-gr {
    justify-content: end;
  }
  .justify-content-space-between-gr {
    justify-content: space-between;
  }
  .justify-content-space-around-gr {
    justify-content: space-around;
  }
  .justify-content-space-evenly-gr {
    justify-content: space-evenly;
  }
  .align-items-center-gr {
    align-items: center;
  }
  .align-items-flex-end-gr {
    align-items: flex-end;
  }
  .align-items-flex-start-gr {
    align-items: flex-start;
  }
  .dflex-column-gr {
    flex-direction: column;
  }
  .dflex-row-gr {
    flex-direction: row;
  }
  .d-grid-gr {
    display: grid;
  }
}
@media (min-width: 1200px) {
  .justify-content-center-ex {
    justify-content: center;
  }
  .justify-content-start-ex {
    justify-content: start;
  }
  .justify-content-end-ex {
    justify-content: end;
  }
  .justify-content-space-between-ex {
    justify-content: space-between;
  }
  .justify-content-space-around-ex {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ex {
    justify-content: space-evenly;
  }
  .align-items-center-ex {
    align-items: center;
  }
  .align-items-flex-end-ex {
    align-items: flex-end;
  }
  .align-items-flex-start-ex {
    align-items: flex-start;
  }
  .dflex-column-ex {
    flex-direction: column;
  }
  .dflex-row-ex {
    flex-direction: row;
  }
  .d-grid-ex {
    display: grid;
  }
}
.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.dflex-column {
  flex-direction: column;
}

.dflex-row {
  flex-direction: row;
}

.d-ib {
  display: inline-block;
}

@media (min-width: 576px) {
  .justify-content-center-ch {
    justify-content: center;
  }
  .justify-content-start-ch {
    justify-content: start;
  }
  .justify-content-end-ch {
    justify-content: end;
  }
  .justify-content-space-between-ch {
    justify-content: space-between;
  }
  .justify-content-space-around-ch {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ch {
    justify-content: space-evenly;
  }
  .align-items-center-ch {
    align-items: center;
  }
  .align-items-flex-end-ch {
    align-items: flex-end;
  }
  .align-items-flex-start-ch {
    align-items: flex-start;
  }
  .dflex-column-ch {
    flex-direction: column;
  }
  .dflex-row-ch {
    flex-direction: row;
  }
  .d-ib-ch {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .justify-content-center-m {
    justify-content: center;
  }
  .justify-content-start-m {
    justify-content: start;
  }
  .justify-content-end-m {
    justify-content: end;
  }
  .justify-content-space-between-m {
    justify-content: space-between;
  }
  .justify-content-space-around-m {
    justify-content: space-around;
  }
  .justify-content-space-evenly-m {
    justify-content: space-evenly;
  }
  .align-items-center-m {
    align-items: center;
  }
  .align-items-flex-end-m {
    align-items: flex-end;
  }
  .align-items-flex-start-m {
    align-items: flex-start;
  }
  .dflex-column-m {
    flex-direction: column;
  }
  .dflex-row-m {
    flex-direction: row;
  }
  .d-ib-m {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .justify-content-center-gr {
    justify-content: center;
  }
  .justify-content-start-gr {
    justify-content: start;
  }
  .justify-content-end-gr {
    justify-content: end;
  }
  .justify-content-space-between-gr {
    justify-content: space-between;
  }
  .justify-content-space-around-gr {
    justify-content: space-around;
  }
  .justify-content-space-evenly-gr {
    justify-content: space-evenly;
  }
  .align-items-center-gr {
    align-items: center;
  }
  .align-items-flex-end-gr {
    align-items: flex-end;
  }
  .align-items-flex-start-gr {
    align-items: flex-start;
  }
  .dflex-column-gr {
    flex-direction: column;
  }
  .dflex-row-gr {
    flex-direction: row;
  }
  .d-ib-gr {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .justify-content-center-ex {
    justify-content: center;
  }
  .justify-content-start-ex {
    justify-content: start;
  }
  .justify-content-end-ex {
    justify-content: end;
  }
  .justify-content-space-between-ex {
    justify-content: space-between;
  }
  .justify-content-space-around-ex {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ex {
    justify-content: space-evenly;
  }
  .align-items-center-ex {
    align-items: center;
  }
  .align-items-flex-end-ex {
    align-items: flex-end;
  }
  .align-items-flex-start-ex {
    align-items: flex-start;
  }
  .dflex-column-ex {
    flex-direction: column;
  }
  .dflex-row-ex {
    flex-direction: row;
  }
  .d-ib-ex {
    display: inline-block;
  }
}
.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.dflex-column {
  flex-direction: column;
}

.dflex-row {
  flex-direction: row;
}

.d-i {
  display: inline;
}

@media (min-width: 576px) {
  .justify-content-center-ch {
    justify-content: center;
  }
  .justify-content-start-ch {
    justify-content: start;
  }
  .justify-content-end-ch {
    justify-content: end;
  }
  .justify-content-space-between-ch {
    justify-content: space-between;
  }
  .justify-content-space-around-ch {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ch {
    justify-content: space-evenly;
  }
  .align-items-center-ch {
    align-items: center;
  }
  .align-items-flex-end-ch {
    align-items: flex-end;
  }
  .align-items-flex-start-ch {
    align-items: flex-start;
  }
  .dflex-column-ch {
    flex-direction: column;
  }
  .dflex-row-ch {
    flex-direction: row;
  }
  .d-i-ch {
    display: inline;
  }
}
@media (min-width: 768px) {
  .justify-content-center-m {
    justify-content: center;
  }
  .justify-content-start-m {
    justify-content: start;
  }
  .justify-content-end-m {
    justify-content: end;
  }
  .justify-content-space-between-m {
    justify-content: space-between;
  }
  .justify-content-space-around-m {
    justify-content: space-around;
  }
  .justify-content-space-evenly-m {
    justify-content: space-evenly;
  }
  .align-items-center-m {
    align-items: center;
  }
  .align-items-flex-end-m {
    align-items: flex-end;
  }
  .align-items-flex-start-m {
    align-items: flex-start;
  }
  .dflex-column-m {
    flex-direction: column;
  }
  .dflex-row-m {
    flex-direction: row;
  }
  .d-i-m {
    display: inline;
  }
}
@media (min-width: 992px) {
  .justify-content-center-gr {
    justify-content: center;
  }
  .justify-content-start-gr {
    justify-content: start;
  }
  .justify-content-end-gr {
    justify-content: end;
  }
  .justify-content-space-between-gr {
    justify-content: space-between;
  }
  .justify-content-space-around-gr {
    justify-content: space-around;
  }
  .justify-content-space-evenly-gr {
    justify-content: space-evenly;
  }
  .align-items-center-gr {
    align-items: center;
  }
  .align-items-flex-end-gr {
    align-items: flex-end;
  }
  .align-items-flex-start-gr {
    align-items: flex-start;
  }
  .dflex-column-gr {
    flex-direction: column;
  }
  .dflex-row-gr {
    flex-direction: row;
  }
  .d-i-gr {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .justify-content-center-ex {
    justify-content: center;
  }
  .justify-content-start-ex {
    justify-content: start;
  }
  .justify-content-end-ex {
    justify-content: end;
  }
  .justify-content-space-between-ex {
    justify-content: space-between;
  }
  .justify-content-space-around-ex {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ex {
    justify-content: space-evenly;
  }
  .align-items-center-ex {
    align-items: center;
  }
  .align-items-flex-end-ex {
    align-items: flex-end;
  }
  .align-items-flex-start-ex {
    align-items: flex-start;
  }
  .dflex-column-ex {
    flex-direction: column;
  }
  .dflex-row-ex {
    flex-direction: row;
  }
  .d-i-ex {
    display: inline;
  }
}
.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.dflex-column {
  flex-direction: column;
}

.dflex-row {
  flex-direction: row;
}

.d-b {
  display: block;
}

@media (min-width: 576px) {
  .justify-content-center-ch {
    justify-content: center;
  }
  .justify-content-start-ch {
    justify-content: start;
  }
  .justify-content-end-ch {
    justify-content: end;
  }
  .justify-content-space-between-ch {
    justify-content: space-between;
  }
  .justify-content-space-around-ch {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ch {
    justify-content: space-evenly;
  }
  .align-items-center-ch {
    align-items: center;
  }
  .align-items-flex-end-ch {
    align-items: flex-end;
  }
  .align-items-flex-start-ch {
    align-items: flex-start;
  }
  .dflex-column-ch {
    flex-direction: column;
  }
  .dflex-row-ch {
    flex-direction: row;
  }
  .d-b-ch {
    display: block;
  }
}
@media (min-width: 768px) {
  .justify-content-center-m {
    justify-content: center;
  }
  .justify-content-start-m {
    justify-content: start;
  }
  .justify-content-end-m {
    justify-content: end;
  }
  .justify-content-space-between-m {
    justify-content: space-between;
  }
  .justify-content-space-around-m {
    justify-content: space-around;
  }
  .justify-content-space-evenly-m {
    justify-content: space-evenly;
  }
  .align-items-center-m {
    align-items: center;
  }
  .align-items-flex-end-m {
    align-items: flex-end;
  }
  .align-items-flex-start-m {
    align-items: flex-start;
  }
  .dflex-column-m {
    flex-direction: column;
  }
  .dflex-row-m {
    flex-direction: row;
  }
  .d-b-m {
    display: block;
  }
}
@media (min-width: 992px) {
  .justify-content-center-gr {
    justify-content: center;
  }
  .justify-content-start-gr {
    justify-content: start;
  }
  .justify-content-end-gr {
    justify-content: end;
  }
  .justify-content-space-between-gr {
    justify-content: space-between;
  }
  .justify-content-space-around-gr {
    justify-content: space-around;
  }
  .justify-content-space-evenly-gr {
    justify-content: space-evenly;
  }
  .align-items-center-gr {
    align-items: center;
  }
  .align-items-flex-end-gr {
    align-items: flex-end;
  }
  .align-items-flex-start-gr {
    align-items: flex-start;
  }
  .dflex-column-gr {
    flex-direction: column;
  }
  .dflex-row-gr {
    flex-direction: row;
  }
  .d-b-gr {
    display: block;
  }
}
@media (min-width: 1200px) {
  .justify-content-center-ex {
    justify-content: center;
  }
  .justify-content-start-ex {
    justify-content: start;
  }
  .justify-content-end-ex {
    justify-content: end;
  }
  .justify-content-space-between-ex {
    justify-content: space-between;
  }
  .justify-content-space-around-ex {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ex {
    justify-content: space-evenly;
  }
  .align-items-center-ex {
    align-items: center;
  }
  .align-items-flex-end-ex {
    align-items: flex-end;
  }
  .align-items-flex-start-ex {
    align-items: flex-start;
  }
  .dflex-column-ex {
    flex-direction: column;
  }
  .dflex-row-ex {
    flex-direction: row;
  }
  .d-b-ex {
    display: block;
  }
}
.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.dflex-column {
  flex-direction: column;
}

.dflex-row {
  flex-direction: row;
}

.d-n {
  display: none;
}

@media (min-width: 576px) {
  .justify-content-center-ch {
    justify-content: center;
  }
  .justify-content-start-ch {
    justify-content: start;
  }
  .justify-content-end-ch {
    justify-content: end;
  }
  .justify-content-space-between-ch {
    justify-content: space-between;
  }
  .justify-content-space-around-ch {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ch {
    justify-content: space-evenly;
  }
  .align-items-center-ch {
    align-items: center;
  }
  .align-items-flex-end-ch {
    align-items: flex-end;
  }
  .align-items-flex-start-ch {
    align-items: flex-start;
  }
  .dflex-column-ch {
    flex-direction: column;
  }
  .dflex-row-ch {
    flex-direction: row;
  }
  .d-n-ch {
    display: none;
  }
}
@media (min-width: 768px) {
  .justify-content-center-m {
    justify-content: center;
  }
  .justify-content-start-m {
    justify-content: start;
  }
  .justify-content-end-m {
    justify-content: end;
  }
  .justify-content-space-between-m {
    justify-content: space-between;
  }
  .justify-content-space-around-m {
    justify-content: space-around;
  }
  .justify-content-space-evenly-m {
    justify-content: space-evenly;
  }
  .align-items-center-m {
    align-items: center;
  }
  .align-items-flex-end-m {
    align-items: flex-end;
  }
  .align-items-flex-start-m {
    align-items: flex-start;
  }
  .dflex-column-m {
    flex-direction: column;
  }
  .dflex-row-m {
    flex-direction: row;
  }
  .d-n-m {
    display: none;
  }
}
@media (min-width: 992px) {
  .justify-content-center-gr {
    justify-content: center;
  }
  .justify-content-start-gr {
    justify-content: start;
  }
  .justify-content-end-gr {
    justify-content: end;
  }
  .justify-content-space-between-gr {
    justify-content: space-between;
  }
  .justify-content-space-around-gr {
    justify-content: space-around;
  }
  .justify-content-space-evenly-gr {
    justify-content: space-evenly;
  }
  .align-items-center-gr {
    align-items: center;
  }
  .align-items-flex-end-gr {
    align-items: flex-end;
  }
  .align-items-flex-start-gr {
    align-items: flex-start;
  }
  .dflex-column-gr {
    flex-direction: column;
  }
  .dflex-row-gr {
    flex-direction: row;
  }
  .d-n-gr {
    display: none;
  }
}
@media (min-width: 1200px) {
  .justify-content-center-ex {
    justify-content: center;
  }
  .justify-content-start-ex {
    justify-content: start;
  }
  .justify-content-end-ex {
    justify-content: end;
  }
  .justify-content-space-between-ex {
    justify-content: space-between;
  }
  .justify-content-space-around-ex {
    justify-content: space-around;
  }
  .justify-content-space-evenly-ex {
    justify-content: space-evenly;
  }
  .align-items-center-ex {
    align-items: center;
  }
  .align-items-flex-end-ex {
    align-items: flex-end;
  }
  .align-items-flex-start-ex {
    align-items: flex-start;
  }
  .dflex-column-ex {
    flex-direction: column;
  }
  .dflex-row-ex {
    flex-direction: row;
  }
  .d-n-ex {
    display: none;
  }
}
header {
  height: 60px;
}
header .container__header {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container__header a {
  font-weight: 700;
  font-size: 20px;
}
header .container__header .menu {
  height: 0px;
  position: absolute;
  right: 5px;
  top: 65px;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
  transition: all 300ms;
}
header .container__header .menu nav ul {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
}
header .container__header .menu nav ul li {
  list-style: none;
  padding: 10px 40px;
}
header .container__header .menu nav ul li .item-nav, header .container__header .menu nav ul li .item-nav-activo {
  font-size: 16px;
  text-decoration: none;
  transition: opacity 300ms;
  color: gray;
}
header .container__header .menu nav ul li .item-nav-activo {
  color: black;
}
header .container__header .mostrar_menu {
  height: 235px;
}
header .container__header #icon_menu {
  display: block;
  cursor: pointer;
  font-size: 24px;
}

@media (min-width: 768px) {
  header .container__header {
    padding: 0px 50px;
  }
  header .container__header #icon_menu {
    display: none;
  }
  header .container__header .menu {
    position: relative;
    overflow: visible;
    top: 0;
    right: 0;
    height: auto;
  }
  header .container__header .menu nav ul {
    flex-direction: row;
    padding: 0;
    gap: 20px;
  }
  header .container__header .menu nav ul li {
    padding: 0;
  }
}
.btn {
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: auto;
}
footer .contenedor__footer {
  max-width: 1200px;
  height: 100%;
  padding: 40px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer .contenedor__footer .secciones {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
footer .contenedor__footer .secciones ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .contenedor__footer .secciones h3 {
  margin-bottom: 10px;
}
footer .contenedor__footer #logoFooter {
  font-weight: 700;
  font-size: 20px;
}

.banner {
  gap: 15px;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bannerP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner h1 {
  font-size: 28px;
}

.nosotros {
  gap: 20px;
  padding: 20px;
  margin: 20px 0px;
}
.nosotros__title {
  margin-bottom: 15px;
}
.nosotros__imagen img {
  width: 100%;
}

.promociones {
  padding: 20px;
}
.promociones__title {
  font-weight: 500;
  margin-bottom: 25px;
}
.promociones .promociones__productos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  align-items: center;
  justify-items: center;
}
.promociones .promociones__productos .tarjeta {
  max-width: 200px;
  border-radius: 5px;
  overflow: hidden;
}
.promociones .promociones__productos img {
  width: 100%;
}
.promociones .promociones__productos .tarjeta__cuerpo {
  padding: 10px 15px;
}

footer {
  padding: 5px;
}

@media (min-width: 576px) {
  .nosotros {
    padding: 50px;
  }
  .nosotros .nosotros__texto {
    max-width: 500px;
  }
  .nosotros__imagen {
    width: 60%;
  }
  .nosotros__cuerpo {
    padding: 10px;
  }
  .promociones .promociones__productos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .nosotros .nosotros__title, .nosotros .nosotros__cuerpo {
    padding: 5px 0px;
  }
  .nosotros .nosotros__imagen {
    width: 100%;
  }
  .promociones .promociones__productos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .nosotros {
    max-width: 980px;
    margin: 40px auto;
  }
  .nosotros .nosotros__imagen {
    width: 80%;
  }
  .promociones .promociones__productos {
    max-width: 1120px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .nosotros .nosotros__imagen {
    width: 80%;
  }
  .promociones .promociones__productos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.productos {
  margin: 20px 0px;
}
.productos h2 {
  margin-bottom: 15px;
}
.productos .galeria-productos {
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-items: center;
}
.productos .galeria-productos .tarjeta {
  max-width: 200px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
}
.productos .galeria-productos img {
  width: 100%;
}
.productos .galeria-productos .tarjeta__cuerpo {
  padding: 10px 15px;
}

@media (min-width: 576px) {
  .productos .galeria-productos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .productos .galeria-productos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .productos .galeria-productos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .productos {
    max-width: 1024px;
    margin: 20px auto;
  }
  .productos .galeria-productos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.sobre-nosotros {
  margin: 40px 20px;
  gap: 20px;
}
.sobre-nosotros__info h2 {
  margin-bottom: 15px;
}
.sobre-nosotros__img img {
  width: 100%;
}

@media (min-width: 768px) {
  .sobre-nosotros {
    margin: 80px 60px;
  }
  .sobre-nosotros__info h2 {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .sobre-nosotros {
    max-width: 800px;
    margin: 50px auto;
  }
  .sobre-nosotros__info {
    width: 100%;
  }
}
.resenias {
  margin: 20px 5px;
}
.resenias .secciones {
  padding: 20px 5px;
}
.resenias .secciones__cartas {
  gap: 10px;
}
.resenias .secciones__cartas .opinion {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}
.resenias .secciones__cartas .opinion__img {
  width: 100%;
}
.resenias .secciones__cartas .opinion__img img {
  width: 100%;
}
.resenias .secciones__cartas .opinion__texto h3 {
  margin-bottom: 5px;
}
.resenias .secciones__preguntas {
  display: none;
}

@media (min-width: 576px) {
  .resenias .secciones {
    padding: 20px 10px;
  }
  .resenias .secciones__cartas {
    gap: 15px;
  }
  .resenias .secciones__cartas .opinion {
    align-items: center;
  }
  .resenias .secciones__cartas .opinion__texto {
    padding: 0px 20px;
  }
}
@media (min-width: 768px) {
  .resenias .secciones {
    padding: 40px 20px;
    display: flex;
    gap: 10px;
  }
  .resenias .secciones__cartas {
    width: 70%;
  }
  .resenias .secciones__preguntas {
    width: 30%;
    display: block;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
  }
  .resenias .secciones__preguntas h3 {
    text-align: center;
  }
  .resenias .secciones__preguntas-link {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 992px) {
  .resenias .secciones {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    gap: 10px;
  }
  .resenias .secciones__preguntas {
    display: block;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
  }
}
.contacto__info {
  padding: 10px;
  margin: 20px 0px;
}
.contacto__info h2 {
  margin-bottom: 10px;
}
.contacto__info-icons {
  margin: 15px 0px;
  font-size: 22px;
}
.contacto__info ul li {
  padding: 5px 0px;
}
.contacto__mapa {
  padding: 10px;
  margin: 20px 0px;
}
.contacto__mapa h2 {
  margin-bottom: 10px;
}
.contacto__mapa iframe {
  border: none;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .contacto {
    width: 80%;
    margin: 20px auto;
  }
}
@media (min-width: 992px) {
  .contacto {
    max-width: 900px;
  }
}

/*# sourceMappingURL=style.css.map */
