.c-primario {
  color: #1d90f4;
}

.bg-primario {
  background-color: #1d90f4;
}

.c-secundario {
  color: #1b1464;
}

.bg-secundario {
  background-color: #1b1464;
}

section {
  height: auto;
  width: 100%;
  padding: 20px;
}

.contenedor {
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-justify {
  text-align: justify;
}

@font-face {
  font-family: MuseoSansRounded;
  src: url("./font/MuseoSansRounded100.otf"), url("./font/MuseoSansRounded300.otf"), url("./font/MuseoSansRounded500.otf"), url("./font/MuseoSansRounded700.otf"), url("./font/MuseoSansRounded900.otf"), url("./font/MuseoSansRounded1000.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MuseoSansRounded, sans-serif;
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 1000;
}

p {
  font-size: 18px;
}

body {
  background-color: #282a37;
}

header {
  height: 60px;
}
header .contenedor {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: "";
}
header .contenedor #logo {
  color: #1d90f4;
  font-size: 18px;
  font-weight: 500m;
  text-align: left;
}
header .contenedor #icon_menu {
  display: block;
  cursor: pointer;
  font-size: 24px;
  color: #1d90f4;
}
header .contenedor .menu {
  height: 0px;
  position: absolute;
  right: 10px;
  top: 60px;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
  transition: all 300ms;
  background-color: #282a37;
}
header .contenedor .menu nav ul {
  display: flex;
  justify-content: "";
  align-items: "";
  flex-direction: column;
  gap: 15px;
  padding: 20px 0px;
}
header .contenedor .menu nav ul li {
  padding: 0px 40px;
}
header .contenedor .menu nav ul li .item-nav, header .contenedor .menu nav ul li .item-nav-activo {
  font-size: 16px;
  transition: opacity 300ms;
  color: gray;
}
header .contenedor .menu nav ul li .item-nav-activo {
  color: #1d90f4;
}
header .contenedor .menu-extend {
  height: 230px;
}

@media (min-width: 768px) {
  header .contenedor #icon_menu {
    display: none;
  }
  header .contenedor .menu {
    display: block;
    position: relative;
    overflow: visible;
    top: 10px;
    right: 0;
    height: auto;
  }
  header .contenedor .menu nav ul {
    flex-direction: row;
    padding: 0;
    gap: 20px;
  }
  header .contenedor .menu nav ul li {
    padding: 0;
  }
}
.carta {
  max-width: 125px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3 all ease;
}
.carta h3, .carta h2, .carta button {
  display: none;
}
@media (min-width: 576px) {
  .carta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: 280px;
    height: 360px;
  }
  .carta h3, .carta h2, .carta button {
    display: block;
  }
}

.btn {
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 20px 0px;
  background-color: #1d90f4;
  border-radius: 50px 50px 0px 0px;
}
footer .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: "";
  flex-direction: row;
  gap: 0px;
  flex-wrap: wrap;
}

.box__footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
}

.box__footer .logo a {
  font-weight: 600;
  font-size: 20px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  color: #f1f1f1;
}

.box__footer h4 {
  color: white;
}

.box__footer a {
  color: white;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: white;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: white;
}

.galeria {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  align-items: center;
  justify-items: center;
}
.galeria .gow {
  background-color: #1c3049;
  width: 100%;
  height: auto;
}
.galeria .gow .contenido {
  padding: 40px 10px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}
.galeria .gow .contenido .plataformas {
  background-color: #ffd800;
  padding: 0px 10px;
  color: black;
  font-size: 14px;
}
.galeria .gow .contenido .nombre {
  font-weight: 700;
  font-size: 28px;
}
.galeria .aof {
  background-color: #333739;
  width: 100%;
  height: auto;
}
.galeria .aof .imagen {
  height: 200px;
  overflow: hidden;
}
.galeria .aof .contenido {
  padding: 40px 10px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}
.galeria .aof .contenido .plataformas {
  background-color: #ffd800;
  padding: 0px 10px;
  color: black;
  font-size: 14px;
}
.galeria .aof .contenido .nombre {
  font-weight: 700;
  font-size: 28px;
}
.galeria .mandos {
  background-color: #272727;
  width: 100%;
  height: auto;
}
.galeria .mandos .contenido {
  padding: 40px 10px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}
.galeria .mandos .contenido .plataformas {
  background-color: #ffd800;
  padding: 0px 10px;
  color: black;
  font-size: 14px;
}
.galeria .mandos .contenido .nombre {
  font-weight: 700;
  font-size: 28px;
}
.galeria .mcr {
  background-color: #35701a;
  width: 100%;
  height: auto;
}
.galeria .mcr .contenido {
  padding: 40px 10px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}
.galeria .mcr .contenido .plataformas {
  background-color: #ffd800;
  padding: 0px 10px;
  color: black;
  font-size: 14px;
}
.galeria .mcr .contenido .nombre {
  font-weight: 700;
  font-size: 28px;
}
.galeria .fall {
  background-color: #3f21c3;
  width: 100%;
  height: auto;
}
.galeria .fall .contenido {
  padding: 40px 10px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}
.galeria .fall .contenido .plataformas {
  background-color: #ffd800;
  padding: 0px 10px;
  color: black;
  font-size: 14px;
}
.galeria .fall .contenido .nombre {
  font-weight: 700;
  font-size: 28px;
}

.nosotros {
  padding: 40px 20px;
}
.nosotros .contenedor {
  display: flex;
  justify-content: center;
  align-items: "";
  flex-direction: column;
  gap: 1px;
}
.nosotros .contenedor .nosotros__texto {
  padding: 20px;
  background-color: #1c3049;
  color: white;
}

@media (min-width: 576px) {
  .nosotros .contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 1px;
  }
  .nosotros .contenedor .nosotros__texto {
    width: 90%;
  }
  .galeria .aof {
    background-color: rgba(255, 0, 0, 0);
    overflow: hidden;
  }
  .galeria .aof .imagen {
    overflow: visible;
  }
}
@media (min-width: 1200px) {
  .galeria {
    justify-items: flex-start;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "aof aof mandos" "aof aof mcr" "fall gow gow";
  }
  .galeria .aof {
    position: relative;
    grid-area: aof;
    height: 100%;
  }
  .galeria .aof .imagen img {
    filter: brightness(0.7);
  }
  .galeria .aof .contenido {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .galeria .mandos {
    grid-area: mandos;
    position: relative;
  }
  .galeria .mandos .imagen img {
    filter: brightness(0.7);
  }
  .galeria .mandos .contenido {
    position: absolute;
    top: 0;
  }
  .galeria .mcr {
    grid-area: mcr;
    position: relative;
  }
  .galeria .mcr .imagen img {
    filter: brightness(0.7);
  }
  .galeria .mcr .contenido {
    padding: 0px 10px;
    position: absolute;
    bottom: 0px;
  }
  .galeria .gow {
    grid-area: gow;
    position: relative;
  }
  .galeria .gow .imagen img {
    filter: brightness(0.7);
  }
  .galeria .gow .contenido {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  .galeria .fall {
    grid-area: fall;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
