// Colores de pagina
$colorPrimario: #06f2fe;
$colorSecundario: #388bfd;
$fondo: #282a37;
$nintendo: #ff0001;

$colores: (
    primario: $colorPrimario,
    secundario: $colorSecundario,
);
@each $nombre, $valor in $colores{
    .c-#{$nombre}{
        color: $valor;
    }
    .bg-#{$nombre}{
        background-color: $valor;
    }
}

// Contenedores
section{
    height: auto;
    width: 100%;
    padding: 20px;
}
.contenedor{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

// Imagenes
.img-fluid{
    max-width: 100%;
    height: auto;
}

//Alineacion de texto
$text-align: (
    center: center,
    left: left,
    right: right,
    justify: justify
);
@each $alineacion, $valor in $text-align{
    .t-#{$alineacion}{
        text-align: $valor;
    }
}
// Efectos hover por consola
.playstation-item:hover{
    filter: drop-shadow(0px 0px 100px #008ae0);
    transform: scale(1.04);
    transition: all 1000ms;
}

.xbox-item:hover{
    filter: drop-shadow(0px 0px 100px #107b10);
    transform: scale(1.1);
    transition: all 1000ms;
    color: #107b10;
}

.switch-item:hover{
    filter: drop-shadow(0px 0px 100px #e60012);
    transform: scale(1.1);
    transition: all 1000ms;
    color: #e60012;
}
.pc-item:hover{
    filter: drop-shadow(0px 0px 100px #FAA307);
    transform: scale(1.1);
    transition: all 700ms;
    color: #FAA307;
}