// Colores de pagina
$colorPrimario: #1d90f4;
$colorSecundario: #1b1464;
$fondo: #282a37;

$colores: (
    primario: $colorPrimario,
    secundario: $colorSecundario,
);
@each $nombre, $valor in $colores{
    .c-#{$nombre}{
        color: $valor;
    }
    .bg-#{$nombre}{
        background-color: $valor;
    }
}

// Contenedores
section{
    height: auto;
    width: 100%;
    padding: 20px;
}
.contenedor{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

// Imagenes
.img-fluid{
    max-width: 100%;
    height: auto;
}

//Alineacion de texto
$text-align: (
    center: center,
    left: left,
    right: right,
    justify: justify
);
@each $alineacion, $valor in $text-align{
    .t-#{$alineacion}{
        text-align: $valor;
    }
}