.contacto{
    background-image: url(../img/contacto-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .contenedor{
        @include flex(space-evenly, center, column, 20px);
        padding: 10px;
        .info__contacto{
            color: white;
            .texto{
                @include flex("", "", column, 10px);
                .contacto_titulo{
                    h3{
                        font-weight: 400;
                        font-size: 34px;
                    }
                }
                .datos_contacto{
                    @include flex("", "", column, 5px);
                }
            }
            .redes{
                @include flex(space-evenly, center, row, "");
                padding: 20px 0px;
                font-size: 28px;
            }
        }
        .ubicacion{
            width: 250px;
            height: 250px;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
            @include query(md){
                width: 550px;
                @include query(lg){
                    width: 450px;
                    height: 450px;
                }
            }
        }
        @include query(lg){
            flex-direction: row;
        }
    }
}