button{
  font-size: 14px;
  padding: 6px 15px;
  border: 1px solid $colorSecundario;
  border-radius: 5px;
  background-color: $colorSecundario;
  color: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  &:hover{
    background-color: transparent;
    color: $colorSecundario;
  }
}