.carta{
    max-width: 125px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: .3 all ease;
    h3, h2, button{
        display: none;
    }
    @include query(sm){
        @include flex(center, center, column, 10px);
        max-width: 280px;
        height: 360px;
        h3, h2, button{
            display: block;
        }
    }
}