header{
    height: 60px;
    & .container__header{
        max-width: 1200px;
        height: 100%;
        margin: auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & a{
            font-weight: 700;
            font-size: 20px;
        }
        & .menu{
            height: 0px;
            position: absolute;
            right: 5px;
            top: 65px;
            overflow: hidden;
            z-index: 10;
            box-shadow: 0px 0px 30px -20px rgb(0 0 0 / 50%);
            transition: all 300ms;
            & nav ul{
                display: flex;
                padding: 20px 0px;
                flex-direction: column;
                & li{
                    list-style: none;
                    padding: 10px 40px;
                    & .item-nav{
                        font-size: 16px;
                        text-decoration: none;
                        transition: opacity 300ms;
                        color: gray;
                        &-activo{
                            color: black;
                            @extend .item-nav;
                        }
                    }
                }
            }
        }
        & .mostrar_menu {
            height: 235px;
        }
        & #icon_menu {
            display: block;
            cursor: pointer;
            font-size: 24px;
        }
    }
}
@include mediano(){
    header .container__header{ 
        padding: 0px 50px;
        & #icon_menu{
            display: none;
        }
        & .menu{
            position: relative;
            overflow: visible;
            top: 0;
            right: 0;
            height: auto;
            & nav ul{
                flex-direction: row;
                padding: 0;
                gap: 20px;
                & li{
                    padding: 0;
                }
            }
        }
    }
}