::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
border-radius: 5px;
background: $fondo;
}

::-webkit-scrollbar-thumb:hover {
background: #555;
}

@font-face {
    font-family: MuseoSansRounded;
    src: url("./font/MuseoSansRounded100.otf"), url("./font/MuseoSansRounded300.otf"), url("./font/MuseoSansRounded500.otf"), url("./font/MuseoSansRounded700.otf"), url("./font/MuseoSansRounded900.otf"), url("./font/MuseoSansRounded1000.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MuseoSansRounded, sans-serif;
    list-style: none;
}

textarea{
    resize: none;
}

a{
    text-decoration: none;
    color: white;
    transition: ease-in-out 400ms;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 1000;
}
p{
    font-size: 18px;
}
body{
    background-color: $fondo;
}
button{
    cursor: pointer;
}

a:hover{
    color: $colorSecundario;
    transform: scale(1.1);
}